
<div class="container">
    <%= form_with model: @mobile, url: "mobile#create" do |form| %>
        <%= form.label :brand %>
        <%= form.text_field :brand %>
        <%= form.submit "submit" %>
    <% end %>
</div>