<div class="container border mt-4">
    <h1>Mobiles List</h1>
    <% @mobiles.each do |mobile| %>

    <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= render mobile %>
        
        <%= link_to "show mobile", mobile  %>
        <%# mobile_url: :mobile %>
        <%# mobile_path(mobile) %>


        </li>
    </ul>
    <% end %>
    <%= link_to "new mobile", new_mobile_path %> | <%= link_to "Mobiles home", mobiles_url %>
</div>
