<div id="<%= dom_id post %>" class="container">
	<div class="row">
		<div class="col-6">
			<%= post.title %>
		</div>
		<div class="col-3">
			<p><%= post.user.email %></p>
		</div>
		<div class="col-3">
			<%= button_to "follow user", friendships_path(:followed_id => post.user_id), method: :post %>
		</div>
	</div>
</div>
