<h1>Home#index</h1>

<div class="container">
    <div class="form-group" data-controller="text-limiter" data-text-limiter-limit-value=160>
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>


<%= turbo_frame_tag dom_id(User.new)   do %>
    <div>
        framed content
        <%= controller_name %>
    </div>

<% end %>