<div class="container">
    <div>
        <h2>new mobile ..</h2>
        <%= render partial: "form", mobile: @mobile %>
    </div>
    <div>
        <%= link_to "back to mobile list", mobiles_path %>
    </div>
</div>
