<div class="container">
	<h4>New task</h4>
	<%= turbo_frame_tag @task do %>
		<%= render "form", task: @task %>
	<% end %>
	<br>
	<div>
		<%= link_to sanitize("&larr; Back to tasks"), tasks_path %>
	</div>
</div>
