<div id="<%= dom_id friendship %>">
  <p>
    <strong>Follower:</strong>
    <%= friendship.follower_id %>
  </p>

  <p>
    <strong>Followed:</strong>
    <%= friendship.followed_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= friendship.status %>
  </p>

</div>
