<% console %>
<div id='partial view' class="container">
        <% text="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa in dolorem libero ea delectus consequuntur laborum mollitia nemo eveniet? Et, soluta. Recusandae quam hic, nulla laboriosam rerum veritatis perferendis assumenda." %>
        <p>
            <%= word_wrap(text, line_width: 2, break_sequence: "\r\n") %>
            <%# truncate(text, length: 103) %>
        </p>



        <div>
            <p>
                locals : variable : <%= local_assigns[:name] %>
            </p>
            <p>
                local_assigns : variable : <%= local_assigns %>
            </p>
            <p>
                locals  defined? :
            </p>
        </div>

    <% content_for :prova1 do  %>
        <p>prova uno</p>
    <% end %>

    <p>
        <% if local_assigns[:name] == 'paulo' %>
            <% content_for :prova, flush: true do  %>
                <ul>
                    <li>one</li>
                    <li>two</li>
                </ul>
            <% end %>
        <% end %>
    </p>

</div>

